body {
  background-color: black;
  text-align: center;
  color: white;
  font-size: 20;
  background: linear-gradient(to bottom, black 20%, teal 70%);
  word-wrap: break-word;
  overflow: hidden;
  align-content: baseline;
}

.div-best {
  margin-bottom: 15px;
}

h2 {
  font-size: 26;
  margin-bottom: 10px;
}

.timer {
  margin-bottom: 10px;
  font-size: large;
}

input {
  font-size: 100;
  font-size: xx-large;
  margin-bottom: 20px;
}

.hint:hover,
.smiley:hover {
  cursor: pointer;
}

.board-container {
  border: 2px solid white;
}

table {
  border: 2px solid white;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}

td {
  border: 2px solid white;
  width: 30px;
  height: 30px;
}

td:hover {
  cursor: pointer;
  background-color: dimgray;
}

div button {
  margin-top: 20px;
  background-color: transparent;
  color: white;
  font-size: 16;
}

div button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.footer {
  font-size: large;
  margin-top: 10%;
}

.blink_me {
  animation: blinker 0.7s linear infinite;
}

@keyframes blinker {
  70% {
    opacity: 50%;
  }
}
